<aside class="span6">
  <div class="well">
    <article>
      <img src="/images/jim-hoskins-fights-with-the-robots.jpg" width=100%>
      <p>
      I'm Jim Hoskins and I am a web dev and teacher at <a href="http://teamtreehouse.com">Treehouse</a>. This is where I write about coding, the web, or anything else that interests me. You can also read my work at <a href="http://thinkvitamin.com">Think Vitamin</a>.
      </p>
    </article>
    <article>
      <h3>Me on the Web</h3>
      <p>
        <a class="btn success" href="http://teamtreehouse.com/jim">Treehouse</a>
        <a class="btn primary" href="http://twitter.com/jimrhoskins">Twitter</a>
        <a class="btn" href="http://github.com/jimrhoskins">Github</a>
      </p>
    </article>
    <article class="recent-posts">
      <h3>Recent Articles</h3>
      <ul>
      {% for post in site.posts limit:5 %}
        <li>
          <a href={{post.url}}>{{post.title}}</a>
        </li>
      {% endfor %}
      </ul>
    </article>
    <article class="twitter">
      <h3 >
        Twitter
      </h3>
      {% include twitter.html %}
    </article>
  </div>
</aside>
